// index.scss

// .loader-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

h2 {
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.about {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  margin-top: 50px;
  color: #fff;
}

.about {
  text-align: center;
  justify-content: center;
}
