// index.scss

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .portfolio-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .portfolio-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
